
// Adding the blurred backround to the page
page-contacts {



    .getstart {
 
    
        background-image: url('../../img/111.jpg');
        height: 650px;
        width: 400px;
    // background-image: url(’/img/letsstart.jpg’);
    // background-image: url(‘img/letsstart.jpg’);
    // background-image: url(’…/img/letsstart.jpg’);
    // background-image: url(’./img/letsstart.jpg’);
    
    }

}
